/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.uppercase {
    text-transform: uppercase;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url("https://fonts.googleapis.com/css?family=Hind:400,500,700|Montserrat:300,400,500,600,700");
.gallery {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 10%;
    box-sizing: border-box;
    position: relative
}

.gallery img {
    padding: 5px;
    min-width: 24%;
    width: 97%
}

#scroll {
    position: fixed;
    right: 0%;
    bottom: 5%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #4ab957;
    text-indent: -9999px;
    display: none
}

#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -14px;
    margin-top: -16px;
    height: 0;
    width: 0;
    border: 16px solid transparent;
    border-bottom-color: #ffffff;
    color: #fff
}

#scroll:hover {
    background-color: #4ab957;
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)"
}

.gallery_row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px
}

.thumb {
    line-height: 0;
    -webkit-column-count: 4;
    -webkit-column-gap: 0px;
    -moz-column-count: 4;
    -moz-column-gap: 0px;
    column-count: 4;
    column-gap: 0px
}

.gallery_column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    box-sizing: border-box
}

.gallery_column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%
}

@media (max-width: 800px) {
    .gallery_column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%
    }
}

@media (max-width: 600px) {
    .gallery_column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%
    }
}

@media (max-width: 1000px) {
    .thumb {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3
    }
}

@media (max-width: 800px) {
    .thumb {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2
    }
}

@media (max-width: 400px) {
    .thumb {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1
    }
    .gallery {
        width: 90%
    }
}

.popup {
    width: 900px;
    margin: auto;
    text-align: center img;
    text-align-width: 200px;
    text-align-height: 200px;
    text-align-cursor: pointer
}

.show {
    z-index: 999;
    display: none
}

.show .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.66);
    position: fixed;
    top: 0;
    left: 0
}

.show .img-show {
    width: 600px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden
}

.show .img-show span {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 99;
    cursor: pointer;
    font-weight: 600;
    font-size: 2em
}

.show .img-show img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.content {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 100vh;
    width: 1%;
    margin: 0 auto
}

.dogma_logo {
    width: 30%;
    margin: 0 auto;
    position: absolute;
    left: 35%;
    top: 6%
}

.content a:link {
    cursor: pointer
}

.content h2 {
    padding: 4% 0 0px 0;
    color: #4ab957;
    font-size: 2.2em;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    width: 100%
}

.content span {
    font-weight: 600
}

.adult_opt {
    padding: 8px 55px;
    font-family: 'Montserrat', sans-serif;
    color: #56292E;
    font-weight: 500;
    font-size: 1.4em;
    background-color: #ccc;
    margin: 0 8px;
    text-decoration: none
}

.adult_opt:hover {
    background-color: #f2f2f2
}

.opt_1 {
    margin-right: 15px
}

.social_btn {
    position: absolute;
    width: 100%;
    bottom: 2%;
    left: 0%
}

.social_btn ul {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding: 18px 0px
}

.social_btn ul li {
    display: inline
}

.social_btn li img {
    width: 12%;
    height: 32px
}

@media all and (max-width: 470px) {
    .content {
        display: block;
        width: 100%
    }
    .content h2 {
        margin-top: 40%;
        font-size: 1.7em
    }
    .adult_opt {
        font-size: inherit
    }
}

.lSSlideOuter {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.lightSlider:before,
.lightSlider:after {
    content: " ";
    display: table
}

.lightSlider {
    overflow: hidden;
    margin: 0
}

.lSSlideWrapper {
    max-width: 100%;
    overflow: hidden;
    position: relative
}

.lSSlideWrapper>.lightSlider:after {
    clear: both
}

.lSSlideWrapper .lSSlide {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all 1s;
    -webkit-transition-property: -webkit-transform, height;
    -moz-transition-property: -moz-transform, height;
    transition-property: transform, height;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important
}

.lSSlideWrapper .lSFade {
    position: relative
}

.lSSlideWrapper .lSFade>* {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 9;
    margin-right: 0;
    width: 100%
}

.lSSlideWrapper.usingCss .lSFade>* {
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important
}

.lSSlideWrapper .lSFade>*.active {
    z-index: 10
}

.lSSlideWrapper.usingCss .lSFade>*.active {
    opacity: 1
}

.lSSlideOuter .lSPager.lSGallery {
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.lSSlideOuter .lSPager.lSGallery li {
    overflow: hidden;
    -webkit-transition: border-radius 0.12s linear 0s 0.35s linear 0s;
    transition: border-radius 0.12s linear 0s 0.35s linear 0s
}

.lSSlideOuter .lSPager.lSGallery li.active,
.lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 5px
}

.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    height: auto;
    max-width: 100%
}

.lSSlideOuter .lSPager.lSGallery:before,
.lSSlideOuter .lSPager.lSGallery:after {
    content: " ";
    display: table
}

.lSSlideOuter .lSPager.lSGallery:after {
    clear: both
}

.lSAction>a {
    width: 32px;
    display: block;
    top: 50%;
    height: 32px;
    background: url("/assets/controls-41d002617e4af22ec30501a7a782329b6f0ddfbb24c063540c92974a5b2ced8a.png");
    cursor: pointer;
    position: absolute;
    z-index: 99;
    margin-top: -16px
}

.lSAction>a:hover {
    opacity: 1
}

.lSAction>.lSPrev {
    background-position: 0 0;
    left: 10px
}

.lSAction>.lSNext {
    background-position: -32px 0;
    right: 10px
}

.lSAction>a.disabled {
    pointer-events: none
}

.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden
}

.lSSlideOuter.lSrtl {
    direction: rtl
}

.lSSlideOuter .lightSlider,
.lSSlideOuter .lSPager {
    padding-left: 0;
    list-style: none outside none
}

.lSSlideOuter.lSrtl .lightSlider,
.lSSlideOuter.lSrtl .lSPager {
    padding-right: 0
}

.lSSlideOuter .lightSlider>*,
.lSSlideOuter .lSGallery li {
    float: left
}

.lSSlideOuter.lSrtl .lightSlider>*,
.lSSlideOuter.lSrtl .lSGallery li {
    float: right !important
}

@-webkit-keyframes rightEnd {
    0% {
        left: 0
    }
    50% {
        left: -15px
    }
    100% {
        left: 0
    }
}

@keyframes rightEnd {
    0% {
        left: 0
    }
    50% {
        left: -15px
    }
    100% {
        left: 0
    }
}

@-webkit-keyframes topEnd {
    0% {
        top: 0
    }
    50% {
        top: -15px
    }
    100% {
        top: 0
    }
}

@keyframes topEnd {
    0% {
        top: 0
    }
    50% {
        top: -15px
    }
    100% {
        top: 0
    }
}

@-webkit-keyframes leftEnd {
    0% {
        left: 0
    }
    50% {
        left: 15px
    }
    100% {
        left: 0
    }
}

@keyframes leftEnd {
    0% {
        left: 0
    }
    50% {
        left: 15px
    }
    100% {
        left: 0
    }
}

@-webkit-keyframes bottomEnd {
    0% {
        bottom: 0
    }
    50% {
        bottom: -15px
    }
    100% {
        bottom: 0
    }
}

@keyframes bottomEnd {
    0% {
        bottom: 0
    }
    50% {
        bottom: -15px
    }
    100% {
        bottom: 0
    }
}

.lSSlideOuter .rightEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative
}

.lSSlideOuter .leftEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative
}

.lSSlideOuter.vertical .rightEnd {
    -webkit-animation: topEnd 0.3s;
    animation: topEnd 0.3s;
    position: relative
}

.lSSlideOuter.vertical .leftEnd {
    -webkit-animation: bottomEnd 0.3s;
    animation: bottomEnd 0.3s;
    position: relative
}

.lSSlideOuter.lSrtl .rightEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative
}

.lSSlideOuter.lSrtl .leftEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative
}

.lightSlider.lsGrab>* {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab
}

.lightSlider.lsGrabbing>* {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -o-grabbing;
    cursor: -ms-grabbing;
    cursor: grabbing
}

.lSPager {
    display: none
}

.slngle_beer_slider {
    margin-bottom: 60px;
    width: 100%
}

.slngle_beer_slider .slider_item {
    margin-bottom: 60px
}

.slngle_beer_slider .slider_item .content-slider {
    list-style: none outside none;
    padding-left: 0;
    margin: 0
}

.slngle_beer_slider .slider_item .content-slider li {
    background-color: #fff;
    text-align: center;
    color: #FFF
}

.slngle_beer_slider .slider_item .content-slider li img {
    width: 21%;
    padding-top: 5%
}

.slngle_beer_slider .slider_item .content-slider li a {
    text-decoration: none
}


/*
html {
    font-size: 62.5%
}
*/

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f8f8
}

a {
    color: #56292E;
    text-decoration: none
}

article,
aside,
details,
figcaption,
figure,
hgroup,
section {
    display: block
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.events-content ol li {
    display: flex
}

.events-content ol li .timeline-text {
    display: block;
    align-self: center
}

.events-content ol li .timeline-img {
    position: relative;
    display: block;
    align-self: end
}

.events-content ol li .timeline-img img {
    width: 80%;
    padding: 10%
}

.cd-horizontal-timeline {
    opacity: 1;
    margin: 2em auto;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s
}

.cd-horizontal-timeline::before {
    content: 'mobile';
    display: none
}

.cd-horizontal-timeline.loaded {
    opacity: 1
}

.cd-horizontal-timeline .timeline {
    position: relative;
    height: 100px;
    width: 90%;
    max-width: 800px;
    margin: 0 auto
}

.cd-horizontal-timeline .events-wrapper {
    position: relative;
    height: 100%;
    margin: 0 40px;
    overflow: hidden
}

.cd-horizontal-timeline .events-wrapper::after,
.cd-horizontal-timeline .events-wrapper::before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 20px
}

.cd-horizontal-timeline .events {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 49px;
    height: 2px;
    background: #dfdfdf;
    -webkit-transition: -webkit-transform 0.8s;
    -moz-transition: -moz-transform 0.8s;
    transition: transform 0.8s
}

.cd-horizontal-timeline .filling-line {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4ab957;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    transition: transform 0.6s
}

.cd-horizontal-timeline .events a {
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 15px;
    color: #4ab957;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0)
}

.cd-horizontal-timeline .events a::after {
    content: '';
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -5px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid #dfdfdf;
    background-color: #f8f8f8;
    -webkit-transition: background-color 0.6s, border-color 0.6s;
    -moz-transition: background-color 0.6s, border-color 0.6s;
    transition: background-color 0.6s, border-color 0.6s
}

.no-touch .cd-horizontal-timeline .events a:hover::after {
    background-color: #4ab957;
    border-color: #4ab957
}

.cd-horizontal-timeline .events a.selected {
    pointer-events: none
}

.cd-horizontal-timeline .events a.selected::after {
    background-color: #4ab957;
    border-color: #4ab957
}

.cd-horizontal-timeline .events a.older-event::after {
    border-color: #4ab957
}

@media only screen and (min-width: 1100px) {
    .cd-horizontal-timeline {
        margin: 6em auto
    }
    .cd-horizontal-timeline::before {
        content: 'desktop'
    }
}

.cd-timeline-navigation a {
    position: absolute;
    z-index: 1;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: 2px solid #dfdfdf;
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    -webkit-transition: border-color 0.6s;
    -moz-transition: border-color 0.6s;
    transition: border-color 0.6s
}

.cd-timeline-navigation a::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../cd-arrow.svg) no-repeat 0 0
}

.cd-timeline-navigation a.prev {
    left: 0;
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    -o-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg)
}

.cd-timeline-navigation a.next {
    right: 0
}

.no-touch .cd-timeline-navigation a:hover {
    border-color: #4ab957
}

.cd-timeline-navigation a.inactive {
    cursor: not-allowed
}

.cd-timeline-navigation a.inactive::after {
    background-position: 0 -16px
}

.no-touch .cd-timeline-navigation a.inactive:hover {
    border-color: #dfdfdf
}

.cd-horizontal-timeline .events-content {
    position: relative;
    width: 100%;
    margin: 2em 0;
    -webkit-transition: height 0.8s;
    -moz-transition: height 0.8s;
    transition: height 0.8s
}

.cd-horizontal-timeline .events-content li {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    padding: 0 5%;
    opacity: 0;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    box-sizing: border-box
}

.cd-horizontal-timeline .events-content li.selected {
    position: relative;
    z-index: 2;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0)
}

.cd-horizontal-timeline .events-content li.enter-right,
.cd-horizontal-timeline .events-content li.leave-right {
    -webkit-animation-name: cd-enter-right;
    -moz-animation-name: cd-enter-right;
    animation-name: cd-enter-right
}

.cd-horizontal-timeline .events-content li.enter-left,
.cd-horizontal-timeline .events-content li.leave-left {
    -webkit-animation-name: cd-enter-left;
    -moz-animation-name: cd-enter-left;
    animation-name: cd-enter-left
}

.cd-horizontal-timeline .events-content li.leave-right,
.cd-horizontal-timeline .events-content li.leave-left {
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    animation-direction: reverse
}

.cd-horizontal-timeline .events-content li>* {
    max-width: 800px;
    margin: 0 auto
}

.cd-horizontal-timeline .events-content h2 {
    font-weight: bold;
    font-size: 2.6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #4ab957
}

.cd-horizontal-timeline .events-content em {
    display: block;
    font-style: italic;
    margin: 10px auto;
    color: #4ab957
}

.cd-horizontal-timeline .events-content em::before {
    content: '- '
}

.cd-horizontal-timeline .events-content p {
    font-size: 1.4rem;
    color: #959595;
    color: #fff
}

.cd-horizontal-timeline .events-content em,
.cd-horizontal-timeline .events-content p {
    line-height: 1.6
}

@media only screen and (min-width: 768px) {
    .cd-horizontal-timeline .events-content h2 {
        font-size: 5rem
    }
    .cd-horizontal-timeline .events-content em {
        font-size: 2rem
    }
    .cd-horizontal-timeline .events-content p {
        font-size: 1.8rem
    }
}

@media only screen and (max-width: 767px) {
    .events-content ol {
        padding: 0
    }
    .events-content ol li {
        display: block
    }
    .events-content ol li .timeline-img img {
        width: 100%;
        padding: 0
    }
}

@-webkit-keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%)
    }
}

@-moz-keyframes cd-enter-right {
    0% {
        opacity: 0;
        -moz-transform: translateX(100%)
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0%)
    }
}

@keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%)
    }
}

@-webkit-keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%)
    }
}

@-moz-keyframes cd-enter-left {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100%)
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0%)
    }
}

@keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%)
    }
}

body {
    margin: 0;
    padding: 0;
    padding-top: 120px;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    overflow-x: hidden
}

a {
    color: #FFF;
    font-family: 'Montserrat', sans-serif
}

.about_us_bg {
    background-color: #56292E;
    padding-top: 5%;
    padding-bottom: 5%
}

.arrow {
    position: relative;
    background: #56292E;
    width: 3px;
    height: 20px;
    transition: 0.5s;
    border-radius: 50px;
    transform-origin: right center
}

.arrow:before {
    transform: rotate(-50deg)
}

.arrow:after {
    transform: rotate(230deg)
}

.arrow:before,
.arrow:after {
    display: block;
    content: "";
    position: absolute;
    bottom: -3px;
    background: #56292E;
    width: 13px;
    height: 3px;
    transform-origin: 1.5px center;
    transition: 0.5s;
    border-radius: 10px
}

.switch.right .arrow:before,
.switch.right .arrow:after {
    bottom: 20px
}

.switch.right .arrow:before {
    transform: rotate(50deg)
}

.switch.right .arrow:after {
    transform: rotate(130deg)
}

.flip {
    transform: translateZ(1rem) perspective(900)
}

.flip.right {
    transform: translateZ(1rem) perspective(600) rotateY(30deg)
}

.menu_arrow {
    float: right;
    padding-left: 13px
}

#nav-icon3 {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 15px 35px 10px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: none
}

#nav-icon3 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 70%;
    background: #56292E;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out
}

#nav-icon3 span::nth-child(1) {
    top: 0px
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 12px
}

#nav-icon3 span:nth-child(4) {
    top: 24px
}

#nav-icon3.open span:nth-child(1) {
    top: 0px;
    width: 0%;
    left: 50%
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    right: 50%
}

#container {
    margin: 0 auto;
    max-width: 890px
}

.toggle,
[id^=drop] {
    display: none
}

nav,
.large {
    margin: 0;
    padding: 20px 20px 0 20px;
    background-color: #fff;
    display: block;
    position: fixed;
    top: 0;
    border-bottom: 3px solid #56292E;
    z-index: 1000;
    width: 100%;
    transition: 0.7s all;
    -moz-transition: 0.7s all;
    -webkit-transition: 0.7s all;
    -o-transition: 0.7s all;
    height: 120px
}

.logo {
    display: block;
    padding: 0 30px;
    float: left;
    font-size: 20px;
    line-height: 60px
}

.logo img {
    height: 70px;
    transition: 0.7s all;
    -moz-transition: 0.7s all;
    -webkit-transition: 0.7s all;
    -o-transition: 0.7s all
}

nav:after {
    content: "";
    display: table;
    clear: both
}

nav ul {
    float: left;
    padding: 15px 0 0 0px;
    margin: 0;
    list-style: none;
    position: relative
}

nav ul li {
    margin: 0px;
    display: inline-block;
    float: left;
    text-transform: uppercase
}

nav ul a {
    display: block;
    padding: 14px 20px;
    color: #56292E;
    font-size: 22px;
    text-decoration: none;
    font-weight: 500
}

nav ul a:hover {
    color: #d29932
}

nav ul ul {
    display: none;
    position: absolute;
    top: 60px
}

nav ul ul ul {
    top: 29px;
    text-transform: uppercase
}

nav ul ul li {
    width: 250px;
    float: none;
    display: list-item;
    position: relative;
    background-color: #fff;
    margin: 0;
    top: 19px;
    color: #56292E;
}

.active {
    font-weight: 600;
    color: #d29932
}

.active_lang {
    color: #d29932 !important;
    font-weight: 500 !important
}

nav ul li ul li:hover {
    background: #fff
}

nav ul li:hover>ul {
    display: inherit
}

nav ul ul ul li {
    position: relative;
    top: -44px;
    left: 250px;
}

li>a:after {
    /*! content:  ' +'; */
}

li>a:only-child:after {
    content: ''
}

.small {
    height: 70px
}

.small .menu {
    padding: 0
}

.small .logo img {
    height: 50px;
    transition: .7s all;
    -moz-transition: .7s all;
    -webkit-transition: .7s all;
    -o-transition: .7s all
}

.small ul ul {
    top: 36px
}

.small,
.menu,
.logo img {
    transition: .7s all;
    -moz-transition: .7s all;
    -webkit-transition: .7s all;
    -o-transition: .7s all
}

.language {
    position: absolute;
    right: 6%;
    top: 13%;
    display: block
}

.language a {
    width: 12%;
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #56292E;
    font-size: 1.2em;
    text-decoration: none
}

.language a:hover {
    font-weight: 500
}

.social {
    width: 22%;
    padding-top: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: 4%
}

.social li {
    float: none;
    width: 11%;
    list-style-type: none;
    display: inline-block;
    background-color: #fff
}

.social li a i {
    color: #56292E;
    height: auto;
}

.social li img {
    height: 24px;
    cursor: pointer
}


/* HEADER */

header {
    position: relative;
    padding-top: 300px;
    min-height: 100vh;
    overflow: hidden;
    background: url("../img/maincarousel/rakija_dunja.jpg");
    background-size: cover;
}

header h1 {
    text-align: center;
}

header .header-overlay {
    background-color: #56292E;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

header .header-card {
    background: transparent;
    width: 500px;
    position: relative;
    margin: 0 auto;
    color: white;
    padding: 20px;
}

.header-card h1 {
    font-size: 2rem;
}

section {
    padding: 30px 0;
}

#rakija h2,
#likeri h2 {
    margin: 100px 0;
    margin-left: auto;
    width: 90%;
    color: #d29932;
    border-bottom: 20px solid #56292E;
    line-height: 30px;
    clear: both;
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    font-weight: 300;
    -webkit-text-stroke: 2px #56292E;
}

.row.rakije,
.row.likeri {
    margin-left: auto;
    margin-right: 0;
    width: 90%;
}

.row.rakije .card,
.row.likeri .card {
    padding: 0;
    background: transparent;
    border: none;
}

.card.hoverable {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

.card.hoverable:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card.horizontal .card-image {
    max-width: 30%;
}

.card.horizontal h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2em;
    color: #56292E;
}

.card.horizontal h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    color: #d29932;
    margin-bottom: 3rem;
}

.card.horizontal p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: bold;
}

.card.horizontal .card-stacked .card-content {
    align-content: center;
    justify-content: center;
    /* align-items: center; */
    justify-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}

.card-content a {
    position: absolute;
    bottom: 30px;
    color: #d29932;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}

.card-content a i {
    transition: transform .3s ease;
}

.card-content a:hover i {
    transform: translateX(5px);
}

.card-content a:hover {
    color: #ffab40;
}

#rakija-lux h2,
#likeri-lux h2 {
    margin: 100px 0;
    margin-right: auto;
    width: 90%;
    color: #56292E;
    border-bottom: 20px solid #d29932;
    line-height: 30px;
    clear: both;
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    font-weight: 300;
    -webkit-text-stroke: 2px #d29932;
    text-align: right;
}

.row.rakije-lux,
.row.likeri-lux {
    margin-left: auto;
    margin-left: 0;
    width: 90%;
}

.row.rakije-lux .card,
.row.likeri-lux .card {
    padding: 0;
    background: transparent;
    border: none;
}

.row.rakije-lux .card.horizontal .card-stacked .card-content,
.row.likeri-lux .card.horizontal .card-stacked .card-content {
    text-align: right;
}

.row.rakije-lux .card.horizontal .card-stacked .card-content a,
.row.likeri-lux .card.horizontal .card-stacked .card-content a {
    right: 25px;
    left: auto;
}


/* SECTION NOVOSTI */

section#oNama {
    width: 100%;
    min-height: 100vh;
    padding: 0;
}

section#oNama .parallax-container {
    min-height: 100vh;
}

section#oNama .parallax-container .container {
    position: relative;
    padding-bottom: 60px;
}

section#oNama .parallax {
    z-index: -2;
}

section#oNama .parallax::before {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0;
    top: 80%;
    left: 0;
    z-index: 1;
    background: linear-gradient(0deg, #56292E 30%, rgba(21, 74, 93, 0) 100%);
    pointer-events: none;
}


/*
section#oNama .parallax-overlay {
    background: linear-gradient(0deg, #56292E 10%, transparent 100%);

position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
opacity: 0.9;
z-index: -1;

}

*/

.oNama {
    margin-top: 200px;
    font-family: Montserrat, sans-serif;
    font-size: 4em;
    font-weight: 300;
    color: white;
}

.oNama-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
}

.oNama-container.card {
    width: 500px;
    padding: 15px;
    position: relative;
    margin: 0 auto;
    z-index: 1;
    background-color: #56292E;
}

.oNama-container.card p {
    color: white;
}


/* MAP - LOCATION */

section#location {
    position: relative;
    padding: 0;
}

iframe {
    width: 100%;
    min-height: 500px;
    border: none;
    line-height: 0;
    padding-top: 20px;
}

section#location::before {
    content: 'NASA LOKACIJA';
    font-family: Montserrat, sans-serif;
    font-size: 4em;
    text-align: center;
    color: white;
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 80%;
    left: 0;
    z-index: 1;
    background: linear-gradient(180deg, #56292E 30%, rgba(21, 74, 93, 0) 100%);
    pointer-events: none;
}

.et_pb_text_inner {
    line-height: 0;
}


/* FOOTER */

footer {
    background: #56292E;
    padding: 3em 0;
    border-top: 3px solid white;
    text-align: center;
    color: white;
    font-family: Montserrat, sans-serif;
    clear: both;
}

footer .footer_logo {
    width: 15%;
    margin-bottom: 20px;
}


/* PROIZVOD */

#proizvod {
    background: url("../img/background_dunja.jpg");
    background-position: center center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    padding: 50px 0;
}

#proizvod .card.horizontal {
    padding: 50px;
    background: #d29932;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
}

#proizvod .card h3 {
    font-size: 5em;
}

#proizvod .card h4 {
    font-size: 3em;
    color: black;
}

#proizvod .card.horizontal p {
    color: #56292E;
    font-size: 1.5em;
}

#proizvod .card .card-image {
    width: 100%;
    max-width: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#proizvod .card .card-stacked {
    width: 100%;
    max-width: 100%;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

#proizvod .card .card-stacked-vertical {
    width: 100%;
    max-width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

.carousel-item .card {
    margin: 10px;
}

.carousel-item .card .card-image img {
    max-height: 250px;
    margin: 0 auto;
}

.carousel-item .card .card-action a {
    position: relative;
    bottom: 0;
}

.card-content {
    color: black;
}

.findOutMore {
    margin: 0 0 10px 0 !important;
}